<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xeye Predict Url Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>Url Page</h1>
<form id="predictForm" method="POST">
    <input id="url" type="text" name="url"/>
    <input type="submit"/>
</form>

<div id="predictResult"></div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#predictForm").submit(function (e) {
            e.preventDefault();

            let data = JSON.stringify({
                url: $("#url").val()
            });

            $("#predictResult").text("");
            $.ajax({
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                url: "/xeye/predict/url",
                data: data,
                success: function (response, status, xhr) {
                    if (response.status === "SUCCESS") {
                        $("#predictResult").text(response.data);
                    } else {
                        $("#predictResult").text(response.message);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    $("#predictResult").text(errorMessage);
                }
            })
        })
    });

</script>
</html>