<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xeye Predict</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Rowdies' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/jquery.json-viewer.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body onload="init()">
<div class="container">
    <div class="banner header-banner">
        {# Amazon Ad - Banner Links For Ez 728 x 90 #}
        <div class="ad-banner w-banner-728">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ez&f=ifr&linkID=84a1029b91a8cc6a46291a805c48a3d2&t=youtubedown0f-20&tracking_id=youtubedown0f-20" width="728"
                    height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
        {# Amazon Ad - Banner Links For Ez 728 x 90 #}
        {# Amazon Ad - Banner Links For Ez 468 x 60 #}
        <div class="ad-banner w-banner-468">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=13&l=ez&f=ifr&linkID=2a711cf03276b4f1a0cc37c022403678&t=youtubedown0f-20&tracking_id=youtubedown0f-20" width="468"
                    height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
        {# Amazon Ad - Banner Links For Ez 468 x 60 #}
    </div>
    <h1>
        <img class="logo" src="/static/image/logo.png">
    </h1>
    <div class="file-upload">
        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"/>
            <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" id="face-image" src="#" alt="your image"/>
            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span>
                </button>
            </div>
        </div>

        <button class="file-upload-btn" type="button" onclick="predict()">Predict</button>
    </div>
    <div id="label-container"></div>

    <hr/>

    <div class="api-container">
        <h1>API</h1>
        <h5>1. Request to predict image using url</h5>
        <div>POST, URL=/xeye/predict/url, REQUEST_BODY='{"url": "https://..."}'</div>
        <form class="form-group" id="predict-image-url-form" method="POST">
            <input class="form-control" id="url" type="text" name="url"
                   placeholder="https://media.gadventures.com/media-server/cache/c6/2e/c62e5721fef11ef37d6c0815821c7b25.jpg"/>
            <input class="btn" type="submit"/>
        </form>
        <pre id="predict-image-url-result"></pre>

        <h5>2. Request to predict image using upload Page</h5>
        <div>POST, URL=/xeye/predict/file, ENCTYPE=multipart/form-data, REQUEST_FILE_NAME=["file"]</div>
        <form class="form-group" id="predict-upload-image-form" method="POST" enctype="multipart/form-data">
            <input class="form-control-file" type="file" id="predict-upload-image" name="file" accept="image/*"/>
            <input class="btn" type="submit"/>
        </form>
        <pre id="predict-upload-image-result"></pre>
    </div>

    <div class="banner footer-banner">
        {# Amazon Ad - Banner Links For Music & Entertainment 728 x 90 #}
        <div class="ad-banner w-banner-728">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=musicandentertainmentrot&f=ifr&linkID=3876e68e9fa0204629b1b2df3fb947ce&t=youtubedown0f-20&tracking_id=youtubedown0f-20"
                    width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
        {# Amazon Ad - Banner Links For Music & Entertainment 728 x 90 #}
        {# Amazon Ad - Banner Links For Home Page Link (2016) 468 x 60 #}
        <div class="ad-banner w-banner-468">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=26&l=ur1&category=amazonhomepage&f=ifr&linkID=542128447a008195fa62ab006dbcb490&t=youtubedown0f-20&tracking_id=youtubedown0f-20"
                    width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
        {# Amazon Ad - Banner Links For Home Page Link (2016) 468 x 60 #}
    </div>

    <div class="global-loader-mask">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!-- common -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- AI -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<!-- predictor.js -->
<script src="/static/js/predictor.js"></script>
<script src="/static/js/jquery.json-viewer.js"></script>
</body>
<!--
Copyright (c) 2020 by Aaron Vanston (https://codepen.io/aaronvanston/pen/yNYOXR)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
</html>